export(cluspca, clusmca, cluspcamix, tuneclus, global_bootclus, local_bootclus)
S3method(plot, cluspca)
S3method(plot, cluspcamix)
S3method(plot, clusmca)
S3method(plot, tuneclus)
S3method(print, cluspca)
S3method(print, clusmca)
S3method(print, cluspcamix)
S3method(print, tuneclus)
S3method(summary, cluspca)
S3method(summary, cluspcamix)
S3method(summary, clusmca)
S3method(summary, tuneclus)
import(ggplot2, grid)
importFrom("ca","mjca")
importFrom("utils","flush.console")
importFrom("rARPACK","eigs_sym")
importFrom("corpcor","pseudoinverse")
importFrom("plyr","mapvalues")
importFrom("dplyr","group_by")
importFrom("dplyr","full_join")
importFrom("dplyr","arrange")
importFrom("dplyr","summarise_all")
importFrom("dplyr","%>%")
importFrom("dplyr","select")
importFrom("dplyr","funs")
importFrom("tibble","as_tibble")
importFrom("tibble","tibble")
importFrom("GGally","ggparcoord")
importFrom("ggrepel","geom_text_repel")
importFrom("fpc","cluster.stats")
importFrom("grDevices", "dev.off", "hcl", "pdf", "rainbow")
importFrom("stats", "dist", "kmeans", "promax", "runif", "varimax","princomp","sd","chisq.test")
importFrom("cluster","daisy")